@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;

  --color-primary: #0D9488; 
  --color-primary-content: #ffffff;
  --color-secondary: #0F766E;
  --color-accent: #2DD4BF;

  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
}

/* slick-carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";